.cm-wrapper {
    position: absolute;
    z-index: 1000;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px 1px #ddd;
    background-color: #efefef;
}

.cm-wrapper .cm-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #efefef;
    color: #333;
}

.cm-wrapper .cm-menu li {
    padding: .25em .5em;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
}

.cm-wrapper .cm-menu li.submenu div.content {
    display: inline-block;
    min-width: 100%;
    padding-right: 1em;
}

.cm-wrapper .cm-menu li.submenu div.content::after {
    content: '\25B6';
    font-size: .75em;
    float: right;
    margin-top: .20em;
}

.cm-wrapper .cm-menu li.active,
.cm-wrapper .cm-menu li:hover {
    background-color: #6cb3ff;
    color: #efefef
}
